[submodule "third_party/src/doctest"]
	path = third_party/src/doctest
	url = git@github.com:darkenk/doctest.git
[submodule "assets/base"]
	path = assets/base
	url = git@github.com:darkenk/base.git
[submodule "third_party/src/soloud"]
	path = third_party/src/soloud
	url = git@github.com:darkenk/soloud.git
[submodule "third_party/src/imgui"]
	path = third_party/src/imgui
	url = git@github.com:darkenk/imgui.git
[submodule "third_party/src/nuklear"]
	path = third_party/src/nuklear
	url = git@github.com:darkenk/nuklear.git
[submodule "third_party/src/SDL_shadercross"]
	path = third_party/src/SDL_shadercross
	url = git@github.com:libsdl-org/SDL_shadercross.git
[submodule "third_party/src/ApprovalTests.cpp"]
	path = third_party/src/ApprovalTests.cpp
	url = git@github.com:darkenk/ApprovalTests.cpp.git
[submodule "third_party/src/dbg-macro"]
	path = third_party/src/dbg-macro
	url = git@github.com:darkenk/dbg-macro.git
[submodule "third_party/src/SDL"]
	path = third_party/src/SDL
	url = git@github.com:darkenk/SDL.git
[submodule "third_party/src/di"]
	path = third_party/src/di
	url = git@github.com:darkenk/di.git
